In [5]:
a=10
b=11.4

In [6]:
print(a,b)

10 11.4

In [7]:
print(a,b,10,100,sep='*',end='!!')

10*11.4*10*100!!

In [8]:
a

10

In [9]:
number_of_studnet=200

예약어 사용 불가 for while if elif else class try except class 등->사용하고 싶다면 _class 등으로 사용

## 정수형, 실수형 type

In [10]:
b=11.45
type(b)

float

In [12]:
c=None #변수 생성하고 싶은데 어떤값으로 초기화 할지 모를 때

In [14]:
a=5
b=4
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)
#비교연산자의 결과값은 bool type

True
False
True
False
False
True

In [15]:
a=5
b=4
print(a+b)
print(a*b)
print(a-b)
print(a/b)
print(a%b)
print(a**b)#지수

9
20
1
1.25
1
625

In [16]:
a+b*4 #연산자 우선 순위 적용

21

In [17]:
a=9
t=a-3
a=t
print(a)

6

In [21]:
a=9
a=a-3 #a-=3
a

6

In [25]:
a=9
a-=3
a

6

## 문자열

In [28]:
a='"Hello world"' #작은 따옴표나 큰 따옴표 사용 가능
b="hello world"
c="""hellow world"""
d='''hello world~'''

In [29]:
print(a)

"Hello world"

In [32]:
e='''
ppark
print
coding
'''
print(e)

ppark
print
coding

In [33]:
#escape string
print('hellow/\n')
print('hi\tdasf')

hellow/

hi	dasf

In [38]:
#index
a='Hello world'
print(a[10])
print(a[-11]) #0~문자열의길이-1
# -1~-문자열의 길이

d
H

In [40]:
a="hello world"
print(a[0:4]) #뒤에 index꺼 포함 x
#앞 생략하면 0, 뒤에 생략하면 끝
print(a[:])

hell
hello world

In [42]:
a.replace('h','j')

'jello world'

In [45]:
tep=35.5
prob=80.0
a='오늘 기온{}도 이고, 비올 확률은 {}%입니다'.format(tep,prob)
print(a)

오늘 기온35.5도 이고, 비올 확률은 80.0%입니다

In [48]:
a='nice to meet you'
a.split('t')

['nice ', 'o mee', ' you']

## 컬렉션 타입의 이해- list, tuple

In [49]:
a=[]
print(a)

[]

In [50]:
a=[1,2,3,4,5]

In [52]:
a=['korea',1,[3,5,6]]
print(a)

['korea', 1, [3, 5, 6]]

In [54]:
a='hello world'
b=list(a)
print(b)

c=('car','asd')
list(c)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

['car', 'asd']

In [55]:
a='hello world nice weather'
b=a.split()
print(b)

['hello', 'world', 'nice', 'weather']

In [58]:
a=[1,2,3,4,5,6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

In [63]:
a='hello world'
print(a[0])
#a[0]='j'
#문자열은 불변 개체(immutable)
print(a.replace('h','j'))
a

h
jello world

'hello world'

In [65]:
a=[1,2,4,5]
a[0]=100
a

[100, 2, 4, 5]

In [69]:
a=[1,2,3,4,5,6,7,8]
print(a[4:7])
print(a[:])
#slicing(start:end:increment)
a[1:7:2]

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]

[2, 4, 6]

In [76]:
a=[1,2,3,4,5]
a.append(6)

b=[3,4,5,5,7]
a.append(b)
#a.extend(b)

a+=b
a

[1, 2, 3, 4, 5, 6, [3, 4, 5, 5, 7], 3, 4, 5, 5, 7]

In [78]:
a=[1,2,3,4,5,6]
a.insert(1,40)
a

[1, 40, 2, 3, 4, 5, 6]

In [81]:
a=[1,2,3,4,5,6]
a.remove(6)#값으로 지움,지우고자 하는 값이 없으면 오류 발생
a

[1, 2, 3, 4, 5]

In [84]:
a=[1,2,3,4,5,6]
c=a.pop(4) #index에 해당하는 값 지움
print(c) #->지우는 값을 담음 
a

5

[1, 2, 3, 4, 6]

In [85]:
a=[2,3,4,6,8]
a.index(8)

4

In [87]:
a=[1,2,3,5,6,6]
b=7
c=b in a # in있으면 true 없으면 false
c

False

In [89]:
a=[9,192,56,3,624,44,2,1,7]
a.sort()#reverse=True 면 내림차순으로 정리, a자체가 바뀜
print(a)
b=sorted(a)#a가 변하자는 않음

[1, 2, 3, 7, 9, 44, 56, 192, 624]

## tuple

In [92]:
a=(1,2,3,4)
print(type(a))
#a[3]=5 #immutable

<class 'tuple'>

In [93]:
a=(100,200)
type(a)

tuple

In [ ]:
a,b=100,200 #tuple unpacking
print(a,b) 
# 함수 반환값으로 튜플 사용

In [94]:
a=5
b=4
a,b=b,a
print(a,b)

4 5

## dictionary, set

In [95]:
a=[0,1,2,3,4,10,100,200,300]
print(a[0])
print(a[4])

0
4

In [97]:
a={'k':'s','c':'o'}
b={}#key,value
print(a['k'])

s

In [102]:
b={0:1,1:6,9:10}
b[0]#index가 아니라 key값이다.
b['korea']='seoul'
print(b)
#동일한 key를 사용할 수 없다.
b['korea']=3
b

{0: 1, 1: 6, 9: 10, 'korea': 'seoul'}

{0: 1, 1: 6, 9: 10, 'korea': 3}

In [106]:
a={'a':1,'b':2,'c':3}
b={'c':2,'d':3,'a':'babo'}
a.update(b)
a #병합할 때 update사용, overwriting

{'a': 'babo', 'b': 2, 'c': 2, 'd': 3}

In [108]:
a={'a':1,'b':2,'c':3}
a.pop('b')
print(a)

{'a': 1, 'c': 3}

In [110]:
a={'a':1,'b':2,'c':3}
del a['b'] #범용적으로 지운다.
a

{'a': 1, 'c': 3}

In [111]:
a={'a':1,'b':2,'c':3}
a.clear()
a

{}

In [118]:
a={'a':1,'b':2,'c':3}
print('b' in a)
print('d' in a)
#dict 의 in은 갯수에 상관없이 한 번만 찾는느낌->검색 속도가 빠름
#list의 in은 for문을 돌려주는 느낌
print(a.get('a'))
print(a.get(3))
print(a['a'])

True
False
1
None
1

In [121]:
a={'a':1,'b':2,'c':3}
print(list(a.keys()))
print(list(a.values()))
list(a.items())

['a', 'b', 'c']
[1, 2, 3]

[('a', 1), ('b', 2), ('c', 3)]

## set

In [123]:
a={1,2,3,4,5,5,6,6,7,9}
print(a)

{1, 2, 3, 4, 5, 6, 7, 9}

In [124]:
a=[1,2,3,6,6,7,8]
b=set(a)
b

{1, 2, 3, 6, 7, 8}

In [126]:
a={1,2,3}
b={2,3,4}
print(a.union(b))#합집합
print(a.intersection(b))#교집합
print(a.difference(b))#차집합
print(a.issubset(b))#부분 집합

{1, 2, 3, 4}
{2, 3}
{1}
False

## 조건문 활용하기

In [127]:
#if 뒤에는 boolean 사용 and or not도 사용가능->T AND T, T AND F, F AND T ect, 우선순위 not>and>or
if 6>=5:
    print('6is greater than 5')
print('this is not belongs to if statements')

6is greater than 5
this is not belongs to if statements

In [130]:
a=10
b=8
c=11
if a ==10 and b==9:
    print('that is true')
if a ==10 and b==8:
    print('that is true')
#우선순위 not>and>or
if a==10 or b==9 and c==12:
    print('that is true')

that is true
that is true

In [131]:
if not a!=10:
    print('a is ten')

a is ten

In [132]:
#각 type의 기본값은 false로 취급 나머지값은 ture로 취급
a=[]
if a:
    print('print')

In [133]:
a=10
if a%2==0:
    print(a/2)
else:
    print(a+1)

5.0

In [134]:
a=18
if a%4==0:
    print('a is divisible by 4')
elif a%4==1:
    print(1)
elif a%4==2:
    print(2)
else:
    print('3')
#elif else 안쓰고 계속 if문을 쓰면 코드가 if 문을 계속 돌아서 시간 메모리 낭비

2

In [136]:
a=10
b=9
c=8
if a==10:
    if c==8:
        if b==8:
            print('a=10, b=8')
        else:
            print('a=10, b!=8')

a=10, b!=8

In [139]:
a=[1,10,9,24,566,23,46,67,89]
i=0
print(len(a))
while i<len(a):
   
    print('value:',a[i],'index:',i)
    i+=1
print('hahaha')

9
value: 1 index: 0
value: 10 index: 1
value: 9 index: 2
value: 24 index: 3
value: 566 index: 4
value: 23 index: 5
value: 46 index: 6
value: 67 index: 7
value: 89 index: 8
hahaha

In [140]:
a=[1,10,9,24,566,23,46,67,89]
i=0
print(len(a))
while i<len(a):
    if a[i]<=20:
        print('value:',a[i],'index:',i)
    i+=1
print('hahaha')

9
value: 1 index: 0
value: 10 index: 1
value: 9 index: 2
hahaha

In [141]:
a=[1,10,9,24,566,23,46,67,89]
i=0
print(len(a))
while i<len(a):
    if a[i]%2:
        print('value:',a[i],'index:',i)
    i+=1

9
value: 1 index: 0
value: 9 index: 2
value: 23 index: 5
value: 67 index: 7
value: 89 index: 8

In [144]:
#break, continue
a=[1,10,9,24,25,26]
i=0
while i<len(a):
   
        if a[i]>20:
            break
        
        print(a[i])
        i+=1
print('jongwon')

1
10
9
jongwon

while True:
    data=crawl()
    if data==None:
        break
    print(data)

In [148]:
a=7
while a>0:
    a-=1
    if a==5:
        continue
    print(a)

6
4
3
2
1
0

In [149]:
a=1
sum=0
while(a<=100):
    sum+=a
    a+=1
print(sum)

5050

In [150]:
a=[1,2,3,4,5]
for i in a:
    print(i,i*2)
print('bye')

1 2
2 4
3 6
4 8
5 10
bye

In [151]:
a='hello world'
for character in a:
    print(character)
#index가 있는것만 순회가능

h
e
l
l
o

w
o
r
l
d

In [154]:
a=[1,10,2,56,6]
for num in a:
    if num%2==0:
        print(num/2)
    else:
        print((num-1)/2)

0.0
5.0
1.0
28.0
3.0

In [160]:
a={'korae':'seoul','japan':'tokyo'} #dict는 for 문 돌리면 key를 가져옴
for k in a:
    print(k,a[k])
for k in a:
    print(k)
for value in a.values():
    print(value)
for key, value in a.items():
    print(key,value)

korae seoul
japan tokyo
korae
japan
seoul
tokyo
korae seoul
japan tokyo

In [162]:
a=[1,2,3,4,5,6]
for index,num in enumerate(a):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6

In [163]:
a=[100,90,80,70,60,50]
for num in a:
    if num<80:
        break
    print(num)

100
90
80

In [166]:
a=[100,90,80,70,60,50]
for num in a:
    if num>90:
        continue
    print(num)

90
80
70
60
50

In [167]:
a=[1,2,4]
for i in a:
    for j in a:
        print(i*j)

1
2
4
2
4
8
4
8
16

## 구구단 출력하기

In [172]:
for i in range(1,10):
    for j in range(1,10):
        print(i,'x',j,'=',i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [174]:
a=[1,2,3,4,5]
len(a)

5

In [175]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [176]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [177]:
list(range(5,101,5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [178]:
for i in range(2,10):
    for j in range(1,10):
        print(i,'x',j,'=',i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [180]:
for i in range(1,101):
    if(i%2==0 or i%11==0):
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [191]:

a=[22,1,3,4,7,98,21,55,87,99,19,20,45]
max=a[0]
min=a[0]
for i in a:
    if i>=max:
        max=i
    if i<=min:
        min=i
    print(max,min)
print(max,min)

22 22
22 1
22 1
22 1
22 1
98 1
98 1
98 1
98 1
99 1
99 1
99 1
99 1
99 1

In [192]:
sum=0
a=[22,1,3,4,7,98,21,55,87,99,19,20,45]
for i in a:
    sum+=i
print(sum/len(a))

37.0