In [ ]:
#shift+tab 함수 부연설명 가능

### 01. 기본 타입 및 변수의 이해-1

In [3]:
#으로 주석처리 가능
a=10
b=11.4

In [5]:
print(a,b)
print(a, 10, 200, b)

10 11.4
10 10 200 11.4

In [6]:
print(a,b,10,100,sep='*', end='!!')

10*11.4*10*100!!

In [8]:
a=10
b=11.4
a
b

11.4

In [9]:
abcABC = 100
_abc124 = 200
ABC124 = 200
a456BC = 100
# 3abc=100 err
# class = 100 err   reserved keywords(예약어)라서 안됨.   _class=100은 가능

### 02. 기본 타입 및 변수의 이해-2

In [11]:
print(type(a))
type(b)

<class 'int'>

float

In [12]:
c=None
print(c)

None

In [18]:
a=5
b=4

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

c=a>b
print(type(c))

True
False
True
False
False
True
<class 'bool'>

In [19]:
a=5
b=4

print(a + b)
print(a * b)
print(a - b)
print(a / b)
print(a % b)
print(a ** b)

9
20
1
1.25
1
625

In [25]:
print(a+b*4)
print((a+b)*4)

22
40

In [26]:
a=9
print(a)
print(a-3)
print(a)

9
6
9

In [27]:
a=9
t=a-3
a=t
print(a)

6

In [29]:
a=9
#a=a-3
a-=3
print(a)

6

### 03. 문자열 타입의 이해 및 활용하기

In [30]:
a = 'Hello world'
b = "Hello world"

In [31]:
c = '''Hello 
world'''
d = """Hell
o 
world"""

In [32]:
print(a)
print(b)
print(c)
print(d)

Hello world
Hello world
Hello
world
Hell
o
world

In [33]:
print("Hello world\n\n")
print('HA\tHA')

Hello world


HA	HA

In [36]:
a='Hello world' # 길이 : 11
print(a[10])
print(a[0])
print(a[-1])
print(a[-11])

d
H
d
H

In [37]:
#print(a[11])
#print(a[-12])

IndexError: string index out of range

In [43]:
print(a[1:7])
print(a[0:1])

print(a[:5])
print(a[3:])
print(a[:])

ello w
H
Hello
lo world
Hello world

In [54]:
a='Hello world what a nice weather'
print(a.upper())
print(a.replace('H','j'))
print(a.split())
print(a.split('w'))

HELLO WORLD WHAT A NICE WEATHER
jello world what a nice weather
['Hello', 'world', 'what', 'a', 'nice', 'weather']
['Hello ', 'orld ', 'hat a nice ', 'eather']

In [48]:
temperature=25.5
prob=80.0
a='오늘 기온{}도 이고, 비올 확률은 {}% 입니다.'.format(temperature,prob)
print(a)

오늘 기온25.5도 이고, 비올 확률은 80.0% 입니다.

### 04. 컬렉션 타입 이해-1 (List)

In [55]:
a=[]
print(a)

[]

In [56]:
a=[1,1,2,3,5,8]
print(a)

[1, 1, 2, 3, 5, 8]

In [57]:
a=['korea','canada',1,23,[34,56]]
print(a)

['korea', 'canada', 1, 23, [34, 56]]

In [59]:
a='hello world'
b=list(a)
print(b)

c=(1,2,3)
d=list(c)
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

In [60]:
a='hello world nice weather'
b=a.split()

print(b)

['hello', 'world', 'nice', 'weather']

In [63]:
a=[1,2,3,4,5,6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

In [67]:
# str은 불변(immutable)
a='hello world'
print(a[0])

#a[0]='j'
b='jello world'
c='j'+a[1:]
d=a.replace('h','j')
print(a,b,c,d,sep='\n')

h
hello world
jello world
jello world
jello world

In [69]:
a=[1,2,3,4,5]
a[0]=100
a[-1]=90
print(a)

[100, 2, 3, 4, 90]

In [72]:
a=[1,2,3,4,5]
print(a[2:4])
print(a[:5])
print(a[2:])
print(a[:])

#slicing
#start:end:increment(1)

print(a[::2])

[3, 4]
[1, 2, 3, 4, 5]
[3, 4, 5]
[1, 2, 3, 4, 5]
[1, 3, 5]

### 05. 컬렉션 타입 이해 -2 (List)

In [73]:
a=[1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [79]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
a1=[1,2,3,4,5]
a2=[1,2,3,4,5]

a.append(b)
print(a)

a1.extend(b)
print(a1)

a2+=b
print(a2)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [81]:
a=[1,3,4,5,6]
a.insert(1,2)
print(a)

[1, 2, 3, 4, 5, 6]

In [85]:
a=[1,2,30,30,4,5]
a.remove(30)
a.remove(30)
#a.remove(0)
print(a)

[1, 2, 4, 5]

In [87]:
a=[1,2,3,4,5]
a.pop()   #default : 맨 마지막,  입력하면 해당 index에 있는 값
d=a.pop(1)    #그 값을 return

print(a)
print(d)

[1, 3, 4]
2

In [88]:
a=[2,6,7,9,10]
a.index(9)

3

In [90]:
a = [1,2,3,4,5,10]
b = 7
c = 10
b1 = b in a
c1 = c in a
print(b1)
print(c1)

False
True

In [96]:
a = [9,10,7,19,1,2,20,21,7,8]

a.sort()
print(a)

a.sort(reverse=True)
print(a)

b=sorted(a)
print(b)

[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]
[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

### 06. 컬렉션 타입 이해 -3 (tuple)

In [98]:
a = [1,2,3]
b = (1,2,3)

print(type(a))
print(type(b))

a[0]=100
print(a)

#b[0]=50
print(b)

<class 'list'>
<class 'tuple'>
[100, 2, 3]
(1, 2, 3)

In [102]:
a = (100, 200)
b = 100,200
print(type(a),type(b))

a, b, c, d = 100, 200, 300, 400
print(a,b,c,d)

<class 'tuple'> <class 'tuple'>
100 200 300 400

In [106]:
a = a1 = 5
b = b1 = 4

temp = a1
a1 = b1
b1 = temp
print(a1,b1)

a, b = b, a

print(a,b)

4 5
4 5

### 07. 컬렉션 타입 이해 -4 (dict)

In [111]:
a = {'Korea': 'Seoul', 
     'Canada': 'Ottawa',
     'USA': 'Washington D.C'}
print(a)
print(a['Korea'])

b={}
print(type(b))

c={0:1 , 1:6, 7:9, 8:10}
print(c[0])
#print(c[2])

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C'}
<class 'dict'>
Seoul

In [112]:
a = {'Korea': 'Seoul', 
     'Canada': 'Ottawa',
     'USA': 'Washington D.C'}
a['Japan']='Tokyo'
a['Japan']='Kyoto'         #key 값은 여러개 불가
a['Japna2']='Kyoto'        #value 값은 여러개 가능
a['China']='Beijing'
print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Kyoto', 'Japna2': 'Kyoto', 'China': 'Beijing'}

In [113]:
a = {'a' : 1, 'b' : 2, 'c' : 3}
b = {'a' : 2, 'd' : 4, 'e' : 5}

a.update(b)    #동일한 key가 있으면 b에 있는 value로 들어감 
print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [118]:
a = {'a' : 1, 'b' : 2, 'c' : 3}
print(a)

a.pop('b')
print(a)

del a['c']
print(a)

a.clear()
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}
{'a': 1}
{}

In [122]:
a = {'a' : 1, 'b' : 2, 'c' : 3}
print(a)

print('b' in a)
print('d' in a)
print(2 in a,end='\n\n')

b=[1,2,3,4,5,6,7,9,10,100]
print(100 in b)       # 앞에서부터 100이 나올 때 까지 모두 살펴보기 때문에 성능 저하가 있을 수 있다.
print('b' in a)       # list와 달리 찾기 빠르다.

{'a': 1, 'b': 2, 'c': 3}
True
False
False

True
True

In [123]:
print(a.get('d'))   #key가 없어도 err가 안남. a['d']는 없으면 err. 또는 if문 사용

None

In [133]:
a = {'a' : 1, 'b' : 2, 'c' : 3}
print(a)
print(list(a.keys()))
print(list(a.values()))

print(list(a.items()))   #key value의 튜플

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
[1, 2, 3]
[('a', 1), ('b', 2), ('c', 3)]

'a'

### 08. 컬렉션 타입 이해 -5 (set)

In [135]:
a = {1,1,2,2,4,5}
print(a)

#print(a[0]) --> 오류

{1, 2, 4, 5}

In [136]:
a = {}
b = set()
print(type(a))
print(type(b))

<class 'dict'>
<class 'set'>

In [137]:
a=[1,1,2,3,3,4,1,5]
print(a)

b=set(a)
print(b)

[1, 1, 2, 3, 3, 4, 1, 5]
{1, 2, 3, 4, 5}

In [138]:
a={1,2,3}
b={2,3,4}

print(a.union(b)) #합집합
print(a.intersection(b)) #교집합
print(a.difference(b)) #차집합
print(a.issubset(b)) #부분 집합

{1, 2, 3, 4}
{2, 3}
{1}
False