## 학습목표
 1. list, tuple에 대해 이해 및 실습

### **리스트 & 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [2]:
a=[]
print(a) #빈 리스트

[]

In [6]:
a=[1,2,3,10]
print(a)
b=['korea','canada',2,a]
print(b)

[1, 2, 3, 10]
['korea', 'canada', 2, [1, 2, 3, 10]]

In [9]:
a='hello world'
b=list(a)
print(b)

c=(1,2,3)
d=list(c)
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [10]:
a='hello world nice weather'
b=a.split()

print(b)

['hello', 'world', 'nice', 'weather']

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [13]:
a=[1,2,3,4,5,6]
print(a[3])
print(a[-3])
print(a[5])

4
4
6

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

In [18]:
a='hello world'
print(a[0])

# a[0]='j' -> 문자열은 불변(immutable)
b='jello world'
c='j'+a[1:]
print (b,c)

d=a.replace('h','j')
print(d)
print(a)

h
jello world jello world
jello world
hello world

In [19]:
a=[1,2,3,4,5]
a[0]=100
print(a)

[100, 2, 3, 4, 5]

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [23]:
a=[1,2,3,4,5,6,7,8]
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

#slicing
#start:end:increment
print(a[1:7:1])
print(a[1:7:3])

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[2, 3, 4, 5, 6, 7]
[2, 5]

### list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수
 - 향후, 클래스와 멤버 함수 개념을 이해할 예정

* **append()**
 + 리스트의 끝에 항목을 추가함

In [24]:
a=[1,2,3,4,5]
a.append(10)

print(a)

[1, 2, 3, 4, 5, 10]

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [32]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]

a.append(b)
print(a)
print(a[5])

c=[1,2,3,4,5]
d=[6,7,8,9,10]
d.extend(c) 
#새로운 list를 만드는 게 아니라, 아예 대입해서 저장
print(d)

c+=d
print(c)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
[6, 7, 8, 9, 10]
[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [33]:
a=[1,2,3,4,5]
a.insert(1,40) #1번째 인덱스에 40 추가
print(a)

[1, 40, 2, 3, 4, 5]

+ **remove()**
 * 값으로 항목 삭제

In [39]:
a=[1,2,3,4,5]
a.remove(2)
print(a)

c=[1,2,30,30,2]
c.remove(30) #맨 앞에것 하나만 지움
print(c)
c.remove(c[2])
print(c)

[1, 3, 4, 5]
[1, 2, 30, 2]
[1, 2, 2]

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제

In [43]:
a=[1,2,3,4,5]
d=a.pop(2) #지운 값을 가지고 와서 대입을 함

print(a)
print(d)

print(a.pop())
print(a)
a.pop(1)
print(a)

[1, 2, 4, 5]
3
5
[1, 2, 4]
[1, 4]

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [44]:
a=[2,6,7,9,10]
a.index(9)

3

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [47]:
a=[1,2,3,4,5,6,7,8,9,10]

b=19
c=b in a
print(c)

b=8
c=b in a
print(c)

False
True

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환

In [52]:
a=[8,4,81,56,3,7]
c=[2,7,53,88,1,5,72]
a.sort() #내부적으로 아예 변경
print(a)
c.sort(reverse=True)
print(c)

d=sorted(c)
print(d)#복사본 반환
print(c)

[3, 4, 7, 8, 56, 81]
[88, 72, 53, 7, 5, 2, 1]
[1, 2, 5, 7, 53, 72, 88]
[88, 72, 53, 7, 5, 2, 1]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - 생성된 후 변경이 불가능

In [53]:
a=[12,3,4]
b=(1,2,3,5)
print(type(b))
print(type(a))

a[0]=100
print(a)
#b[0]=100
#immutable

<class 'tuple'>
<class 'list'>
[100, 3, 4]

#### **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

In [58]:
a=100,200
#괄호생략가능
print(type(a))
b,c=1,2
print(b,c) #tuple unpacking

<class 'tuple'>
1 2

In [59]:
a,b,c,d=100,200,300,400
print(a,b,c,d)

100 200 300 400

* **연습문제** a와 b의 값을 교환하시오

In [60]:
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [61]:
a=5
b=4

temp=a
a=b
b=temp

print(a,b)

4 5